{% extends "lib/base.html" %}

{% block body %}
    <div class="header">
      <a class="logo" href="{{ url_for('.home') }}">Expenses</a>
    {%- if session.authed %}
      <a class="login" href="{{ url_for('.logout', token=session.csrf) }}">Sign out</a>
    {%- else %}
      <a class="login" href="{{ url_for('.login_page') }}">Sign in</a>
    {%- endif %}
    </div>
    {%- if session.authed %}
    <button id="plus">+</button>
    {%- endif %}
    <div class="container">
      {%- for user in users %}
      <div class="user-card">
        <div class="user-name">{{ user[0] }}</div>
        <div class="user-balance {{ 'positive' if user[1] > avg else 'negative' }}">{{ (user[1] - avg) | price}}</div>
      </div>
      {%- endfor %}
      <form id="new-purchase" class="hidden" method="POST" action="/expenses">
        <input type="hidden" name="token" value="{{ session.csrf }}">
        <div class="box table">
          <div class="row">
            <div class="cell">
              <input name="name" type="text" placeholder="Trader Joe's">
            </div>
            <div class="cell">
              $<input name="price" type="text" placeholder="34.17">
            </div>
            <div class="cell">
              <input name="date" type="text" placeholder="{{ '{0:%m/%d/%Y}'.format(today) }}">
            </div>
          </div>
        </div>
        <input class="hidden" type="submit">
      </form>
    </div>
    <div id="loading">Loading more...</div>
    <script>
      var data = {{ purchases | tojson | safe }};
    </script>
    <script src="/static/js/main.js"></script>
{%- endblock %}
