{% extends "lib/page.html" %}

{% block content %}
    <form method="post" action="{{ url_for('.auth') }}">
      <input type="hidden" name="token" value="{{ session.csrf }}">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="tswizzle"{% if not request.args.username %} autofocus{% endif %} value="{{ request.args.username }}"><br />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="SeCuR3 p4ssw0rd"{% if request.args.username %} autofocus{% endif %}><br />
      <input type="submit" value="Login">
    </form>
{%- endblock %}
