{% extends "lib/form.html" %}

{% block title %}Sign in to Your Account{% endblock %}

{% block action %}{{ url_for('.auth') }}{% endblock %}

{% block form %}
        <input type="hidden" name="token" value="{{ session.csrf }}">
        <input type="text" name="username" placeholder="Username"{% if not request.args.username %} autofocus{% endif %} value="{{ request.args.username }}"><br />
        <input type="password" name="password" placeholder="Password"{% if request.args.username %} autofocus{% endif %}><br />
        <input type="submit" value="Sign in">
{%- endblock %}

{% block foot %}
        <a href="{{ url_for('.signup_page') }}">Create an account</a>
{%- endblock %}
