{% extends "lib/form.html" %}

{% block title %}Create an Account{% endblock %}

{% block action %}{{ url_for('.signup') }}{% endblock %}

{% block form %}
        <input type="text" name="name" placeholder="Full Name" autofocus><br />
        <input type="text" name="username" placeholder="Username"><br />
        <input type="password" name="password" placeholder="Password"><br />
        <input type="submit" value="Create account">
{%- endblock %}

{% block foot %}
        <a href="{{ url_for('.login_page') }}">Sign in</a>
{%- endblock %}
